<div class="text-center ml-5 border pt-4 pb-4 ">
 <div class="mb-2">
   <p>AGENT PROFILE</p>
   <%= image_tag("avatar.png", width: '120px')%>
   <h3 class="h4">Sharmistha Sarkar</h3>
   <p>Company</p> 
 </div>
   <button class="btn btn-info text-uppercase">Call Agent<%= @agent%></button>
   <button class="btn btn-success text-uppercase">Email for information</button>
</div>